<html>
    <head>

    </head>
    <body>
        
        <form method="post" action="/admin/loginadmin">
            Username : <input type="text" name="username" placeholder="Username" required><br>
            Password : <input type="password" name="password" placeholder="Password" required><br>
            <font style="color:red"><%= notifadmin %></font><br>
            <input type="Submit" value="Submit">
        </form>
        <!-- <a href="/admin/adminmauregister">Register</a> -->
    </body>
</html>