<head>
    <style>

    </style>
</head>

<body>
<% include navbaradmin.ejs %>
    <h1>tambah kategori</h1>
    <form method="post" action="/admin/admin_category_register/<%=id%>">
        
        <br/>
        <label for="kategori_produk">Kategori : </label>
        <input type="text" name="kategori_produk" placeholder="kategori"/>
        <input type="submit" value="submit"/>
    </form>

    <a href="/admin/admin_category/<%=balik%>"> balik </a>

</body>
