<head>
    <style>

    </style>
</head>

<body>
<% include navbaradmin.ejs %>
    <h1>tambah season</h1>
    <form method="post" action="/admin/admin_season_register">
        
        <br/>
        <label for="season">Season : </label>
        <input type="text" name="season" placeholder="season baru"/>
        <input type="submit" value="submit"/>
    </form>

    <a href="/admin/adminhome"> balik </a>

</body>
