<html>
    <head>

    </head>
    <body>
    Welcome Admin&nbsp;&nbsp;&nbsp;
    <p><a href="/admin/adminhome">home</a><span></span>
    <p><a href="/admin/logoutadmin">logout</a></p><span></span>
    </body>
</html>