<html>
    

    <body>
    <center><h2>User Registration</h2></center>

        <form action="/register" method="POST">
        <label for="username"> Username </label>
        <input type="text" value="" name="username" required>
        <br>
        <label for="password"> Password </label>
        <input type="password" value="" name="password" required>
        <br>
        <label for="nama"> Nama </label>
        <input type="text" value="" name="nama" required>
        <br>
        <label for="email"> E-mail </label>
        <input type="email" value="" name="email" required>
        <br>
        <label for="phonenumber"> Phonenumber </label>
        <input type="text" value="" name="phonenumber" required>
        <br>
        <label for="alamat"> Alamat Pengiriman </label>
        <input type="text" value="" name="alamat" required>
        <br>
        
        <input type="submit" value="submit">
</form>
    </body>
</html>